html {
  font-size: 16px;
}

body {
  margin: 0;
  width: 100%;
}

header {
  height: 64px;
  background-color: white;
  margin: 0 auto;

  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  float: left;
  margin: 16px 0 16px 24px;
}

#strong {
  font-weight: 600;
  font-size: 20px;
  color: #4a4a4c;
}

#light {
  font-weight: lighter;
  font-size: 20px;
  color: grey;
}

nav ul li {
  float: right;
  padding-right: 16px;
  height: 32px;
  margin: 16px 0;
  font-family: "Times New Roman", serif;
  color: #4a4a4c;
  font-size: 18px;
  display: inline-block;
  align-items: center;
}
.mobile-nav {
  display: none;
  width: 470px;
  height: 62px;
  background-color: white;
}

@media only screen and (max-width: 470px) {

  nav ul {
    display: none;
  }
header .logo {
  display: none;

}
#strong {
  display: none;
}

#light {
  display: none;
}

  .mobile-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    align-items: center;
    border-right: grey;
    border-left: grey;

  }
  .mobile-nav img {
    height: 42px;
  }
}

.main-body {
  border: 1px solid #bdbebf;
}

.banner {
 background-color: Gainsboro;
 display: flex;
 flex-direction: row;
}

.banner img {
  height: 500px;
  width: 60%;
  padding: 32px 24px;
  margin 0;
}

.textarea {
  display: flex;
  font-family: "Calibri", sans-serif;
  align-items: center;
  width: 30%;

}
@media only screen and (max-width: 470px) {
  .banner {
    flex-direction: column;
    background-color: Gainsboro;
  }
  .banner img {
    width: 470px;;
    height: auto;
    padding: 0 0;
  }
.textarea {
  margin-bottom: 32px;
  padding-left: 16px;

}
nav h1 {
  justify-content: center;
  padding-top: 32px;
  line-height: 1.4;
}

nav h3 {
  line-height: 1.4;
  padding-bottom: 16px;
  }
}

nav h1 {
  font-family: "Calibri", sans-serif;
  font-size: 45px;
  color: #4a4a4c;
  font-weight: 800;
}

nav h3 {
  font-family: "Calibri", sans-serif;
  font-size: 25px;
  color: #4a4a4c;
  padding-top: 30px;
  line-height: 1.2;
}

#button {
  background-color: #4a4a4c;
  color: white;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 350px;
}

#button:hover {
  background-color: Dimgrey;
  color: white;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 350px;

  /*transition: color 750ms linear 250ms;*/
}

.second-banner {
  background-color: white;
  font-family: "Calibri", sans-serif;
  line-height: 1.2;
  display: flex;
  flex-direction: row;

}
.textarea img {
  display: none;

}
.second-banner img {
  height: 450px;
  width: 60%;
  padding: 32px 24px;
}


@media only screen and (max-width: 470px) {
.second-banner img {
  display: none;
}

  .column-one .textarea img {
    height: 30px;

  }
  .column {
    border-left: none;
  }

.columns .textarea {
  border-bottom: none;
  border-top: none;
}

.column-one {
  border-bottom: none;
}
  .text-under-picture {
    display: none;
  }


}

.text-under-picture nav {
  padding: 0 0 0 24px;
  width: 60%;
}

.text-next-picture {
  display: inline-block;
  height: 500px;
  width: 400%;
  padding-top: 4px;
}

.columns {
  border-left: 1px solid #bdbebf;
  height: 716px;

}

.text-next-picture img {
  height: 160px;
  width: 35%;
}

.column-one {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bdbebf;
  margin: 1px 1px;
  align-items: center;
}


.columns .textarea {
  width: 65%;
  display: inline-block;

}
nav h4 {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: #4a4a4c;
  font-weight: lighter;
  padding-top: 24px;
  line-height: 1.4;
}

#stronger {
  font-weight: 500;
  padding-top: 16px;
  padding-bottom: 32px;
}
.column-two {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bdbebf;
  border-top: 1px solid #bdbebf;
  margin: 1px 1px;
  align-items: center;
}

.column-three {
  display: flex;
  flex-direction: row;
  background-color: Gainsboro;
  border-bottom: 1px solid #bdbebf;
  border-top: 1px solid #bdbebf;
  margin: 1px 1px;
  align-items: center;
}

.text-next-picture .textarea h3 {
  font-family: "Calibri", sans-serif;
  font-size: 1.2rem;
  color: #4a4a4c;
  width: 100%;
}

.columns h4 {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: #4a4a4c;
  font-weight: lighter;
  padding-top: 8px;
  line-height: 1.4;
}

.columns h5 {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: #4a4a4c;
  padding-top: 8px;
  line-height: 1.4;
  color: Dodgerblue;
}
.columns h5:hover {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: #4a4a4c;
  padding-top: 8px;
  line-height: 1.4;
  color: Mediumblue;
}

nav h4 {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: #4a4a4c;
  font-weight: lighter;
  padding-top: 24px;
  line-height: 1.4;
  border: 1px solid red;
}

#stronger {
  font-weight: 500;
  padding-top: 16px;
  padding-bottom: 32px;
}

.third-chapter {
  background-color: Gainsboro;
  display: grid;
  justify-content: center;

}

.all-columns {
  margin: 26px 72px;
  display: flex;
  flex-flow: row wrap;
}

span h1 {
  font-family: "Calibri", sans-serif;
  font-size: 45px;
  color: #4a4a4c;
  font-weight: 800;
  padding-top: 32px;
  display: flex;
  justify-content: center;

}
.one-column {
  background-color: white;
  margin: 16px 16px;
  width: 335px;
  padding-bottom: 24px;
}
.one-column img {
  height: auto;
  width: 335px;
}

.one-column h3 {
  font-family: "Calibri", sans-serif;
  font-size: 1.2rem;
  color: #4a4a4c;
  width: 100%;
  padding-left: 16px;
  padding-top: 16px;
  font-weight: 500;
}

.one-column h4 {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: #4a4a4c;
  font-weight: lighter;
  padding-left: 16px;
  padding-top: 8px;
  /*padding-bottom: 24px;*/
  line-height: 1.2;
}

.links {
  display: none;
}
/*.third-chapter-mobile {
  display: none;
}*/

@media only screen and (max-width: 470px) {
  /*body {
    width: 470px;
  }*/

  .one-column {
    display: none;
  }

  .links {
    background-color: white;
    display: flex;
    /*border: 1px solid red;*/
    margin-bottom: 32px;

  }

  .links nav span {
    background-color: Gainsboro;
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    color: #4a4a4c;
    padding: 20px;
    margin-top: 8px;
    display: flex;
    justify-content: left;
    width: 350px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
  }

  .links nav span:hover {
    background-color: #a6a6a6;
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    color: #4a4a4c;
    padding: 20px;
    margin-top: 8px;
    display: flex;
    justify-content: left;
    width: 350px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
  }

  .third-chapter {
    background-color: white;
    border: 2px solid Gainsboro;
  }

  .third-chapter h1 {
    margin-bottom: 8px;

  }
  .third-chapter-mobile {
  }
}



.fourth-banner {
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: "Calibri", sans-serif;
  line-height: 1.2;
  height: 435px;
}

.headline {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.fourth-banner video {
  width: 60%;
  height: 430px;
  margin: 0 24px 0 24px;
  border: 2px solid Lightgrey;
}

@media only screen and (max-width: 470px){
  .text-next-picture {
    display: none;
  }
  .fourth-banner video {
    height: 260px;
    width: 465px;
    margin: 0 0;
    border: 2px solid Lightgrey;
  }

  .under-picture nav {
    display: none;
  }
}
.headline h1 {
  font-family: "Calibri", sans-serif;
  font-size: 45px;
  color: #4a4a4c;
  font-weight: 800;
  padding-top: 32px;
}

.fourth-banner .textarea {
  padding: 16px 16px;
}

.fourth-banner .columns {
  border: none;
}
.fourth-banner .column-one {
  background-color: Lightgrey;
  padding: 16px 16px;
  border: none;
}

.fourth-banner .column-two {
  background-color: white;
  padding: 16px 16px;
  border: none;
}

.fourth-banner .textarea img {
  margin: 16px 16px;

}
.under-picture nav {
  padding: 0 0 32px 24px;
  border-bottom: 1px solid LightGrey;
  font-family: "Calibri", sans-serif;
  font-size: 1.5rem;

}

footer {
  height: 100px;
}

footer h3 {
  width: 85%;
  padding-left: 24px;

  color: grey;
}

footer .logo {
  display: flex;
  align-items: center;
  width: 100%;
}
