html {
  font-size: 16px;
}

body {
  margin: 0;
  width: auto;
}

header {
  height: 64px;
  background-color: white;
  margin: 0 auto;
  align-items: center;
}

header .logo {
  display: flex;
  align-items: center;
  float: left;
  margin: 16px 0 16px 24px;
}

#strong {
  font-weight: 600;
  font-size: 20px;
  color: #4a4a4c;
}

#light {
  font-weight: lighter;
  font-size: 20px;
  color: grey;
}

nav ul li {
  float: right;
  padding-right: 16px;
  height: 32px;
  margin: 16px 0;
  font-family: "Calibri", sans-serif;
  color: #4a4a4c;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
}

.menu {
  display: none;
}

.mobile-nav {
  display: none;
  width: 470px;
  height: 62px;
  background-color: white;
}

@media only screen and (max-width: 740px) and (min-width: 470px){
  header .menu {
    display: flex;
    text-align: center;
    padding-right: 26px;
    font-family: "Calibri";
    color: #4a4a4c;
    font-size: 19px;
  }

  header .menu:hover {
    color: black;
    text-decoration: underline;
  }

  nav ul li {
    display: none;
    }
  }

@media only screen and (max-width: 470px) {
  nav ul {
    display: none;
  }

  header .logo {
  display: none;
  }

  #strong {
  display: none;
  }

  #light {
  display: none;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
    align-items: center;
  }

  .mobile-nav img {
    height: 42px;
  }
}


.main-body {
  border: 1px solid #bdbebf;
}

.banner {
 background-color: Gainsboro;
 display: flex;
 flex-direction: row;
}

.banner img {
  height: 470px;
  width: 60%;
  padding: 32px 24px;
}

.textarea {
  display: flex;
  font-family: "Calibri", sans-serif;
  align-items: center;
  width: 30%;
}

@media only screen and (max-width: 740px) and (min-width: 470px) {
  .banner {
   flex-direction: column;
  }

  .banner img {
    width: 100%;
    height: auto;
    padding: 0 0;
    margin-bottom: 24px;
  }
  .textarea {
    width: auto;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    margin-left: 20px;
  }

  .textarea h3 {
    display: flex;
  }

  #button {
    margin-left: 150px;
  }
}
@media only screen and (max-width: 950px) and (min-width: 740px){
  .text-next-picture .columns img {
    display: none;
  }
  .textarea {
    margin: 24px 0 24px 24px;
  }
  .text-next-picture-two .columns img{
  display: none;
  }
}

@media only screen and (max-width: 550px) {
  #button {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 470px) {
  .banner {
    flex-direction: column;
    background-color: Gainsboro;
  }

  .banner img {
    width: 470px;;
    height: auto;
    padding: 0 0;
  }

  .textarea {
      margin: 24px 0 34px 24px;
  }

  nav h1 {
    justify-content: center;
    padding-top: 32px;
    line-height: 1.4;
  }

  nav h3 {
    line-height: 1.4;
    padding-bottom: 16px;
    }
  }

nav h1 {
  font-family: "Calibri", sans-serif;
  font-size: 45px;
  color: #4a4a4c;
  font-weight: 800;
}

nav h3 {
  font-family: "Calibri", sans-serif;
  font-size: 25px;
  color: #4a4a4c;
  padding-top: 30px;
  line-height: 1.2;
}

#button {
  background-color: #4a4a4c;
  color: white;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  width: 300px;
}

#button:hover {
  background-color: Dimgrey;
}

.second-banner {
  background-color: white;
  font-family: "Calibri", sans-serif;
  line-height: 1.2;
  display: flex;
  flex-direction: row;
}

.textarea img {
  display: none;
}

.second-banner img {
  height: 450px;
  width: 60%;
  padding: 32px 24px;
}

.mobile-picture {
  display: none;
}

@media only screen and (max-width: 740px) and (min-width: 470px) {
  .second-banner {
    display: flex;
   flex-direction: column;
  }

  .second-banner img {
    width: auto;
    height: 350px;
    padding: 0 0;
    margin-bottom: 24px;
  }

  .text-next-picture .column-one img {
    width: 150px;
    height: 150px;
    margin-left: 24px;
  }

  .text-next-picture .column-two img {
    width: 150px;
    height: 150px;
    margin-left: 24px;
    margin-top: 24px;
  }

  .text-next-picture .column-three img {
    width: 150px;
    height: 150px;
    margin-left: 24px;
    margin-top: 24px;
  }
  .text-next-picture .columns {
    width: 100%;
  }

  .text-under-picture {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .second-banner {
      display: flex;
     flex-direction: column;
     height: 1100px;
    }

  .second-banner img {
    display: none;
  }

.second-banner .mobile-picture {
    display: flex;
    width: 92%;
    height: 200px;
    margin: 0 0;
    padding: 16px 16px 8px 16px;
  }

  .columns {
    border-left: none;
    border-bottom: none;

    border-top: none;
  }

  .second-banner .column-one {
    border: none;
  }

  .second-banner .column-one .textarea {
    margin-top: 0;
    margin-left: 32px;
  }

  .second-banner .column-two {
    border: none;
  }

  .second-banner .column-two .textarea {
    margin-top: 0;
    margin-left: 32px;
  }

  .second-banner .column-three {
    background-color: white;
    border: none;
  }

  .second-banner .column-three .textarea {
    margin-top: 0;
    margin-left: 32px;
  }

  .text-under-picture {
    display: none;
  }
}

.text-under-picture {
  padding: 0 0 0 24px;
  width: 60%;
}

.text-next-picture {
  display: inline-block;
  height: 500px;
  width: 100%;
}

.columns {
  border-left: 1px solid #bdbebf;
  width: auto;
}

.text-next-picture img {
  height: 160px;
  width: 35%;
}

.column-one {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bdbebf;
  margin: 1px 1px;
  align-items: center;
}

.columns .textarea {
  width: 65%;
  display: inline-block;
}

nav h4 {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: #4a4a4c;
  font-weight: lighter;
  padding-top: 24px;
  line-height: 1.4;
}

#stronger {
  font-weight: 500;
  padding-top: 16px;
  padding-bottom: 32px;
}

.column-two {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #bdbebf;
  border-top: 1px solid #bdbebf;
  margin: 1px 1px;
  align-items: center;
}

.column-three {
  display: flex;
  flex-direction: row;
  background-color: Gainsboro;
  border-bottom: 1px solid #bdbebf;
  border-top: 1px solid #bdbebf;
  margin: 1px 1px;
  align-items: center;
}

.text-next-picture .textarea h3 {
  font-family: "Calibri", sans-serif;
  font-size: 1.2rem;
  color: #4a4a4c;
  width: 100%;
}

.columns h4 {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: #4a4a4c;
  font-weight: lighter;
  padding-top: 8px;
  line-height: 1.4;
}

.columns h5 {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: #4a4a4c;
  padding-top: 8px;
  line-height: 1.4;
  color: Dodgerblue;
}

.columns h5:hover {
  color: Mediumblue;
}

nav h4 {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: #4a4a4c;
  font-weight: lighter;
  padding-top: 24px;
  line-height: 1.4;
}

#stronger {
  font-weight: 500;
}

.third-chapter {
  background-color: Gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-columns {
  margin: 26px 72px;
  display: flex;
  flex-flow: row wrap;
}

span h1 {
  font-family: "Calibri", sans-serif;
  font-size: 45px;
  color: #4a4a4c;
  font-weight: 800;
  padding-top: 32px;
  display: flex;
  justify-content: center;
}

.one-column {
  background-color: white;
  margin: 16px 16px;
  width: 335px;
  padding-bottom: 24px;
}

.one-column img {
  height: auto;
  width: 335px;
}

.one-column h3 {
  font-family: "Calibri", sans-serif;
  font-size: 1.2rem;
  color: #4a4a4c;
  width: 100%;
  padding-left: 16px;
  padding-top: 16px;
  font-weight: 500;
}

.one-column h4 {
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  color: #4a4a4c;
  font-weight: lighter;
  padding-left: 16px;
  padding-top: 8px;
  line-height: 1.2;
}

.links {
  display: none;
}

@media only screen and (max-width: 740px) and (min-width: 470px) {

  .third-chapter {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
  }
}

@media only screen and (max-width: 470px) {
  .one-column {
    display: none;
  }

  .links {
    background-color: white;
    display: flex;
    margin-bottom: 32px;
  }

  .links nav span {
    background-color: Gainsboro;
    font-family: "Calibri", sans-serif;
    font-size: 20px;
    color: #4a4a4c;
    padding: 20px;
    margin-top: 8px;
    display: flex;
    justify-content: left;
    width: 350px;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
  }

  .links nav span:hover {
    background-color: #a6a6a6;
  }

  .third-chapter {
    display: flex;
    background-color: white;
    border: 2px solid Gainsboro;
  }

  .third-chapter h1 {
    margin-bottom: 8px;
  }

  .third-chapter-mobile {
  }
}
@media only screen and (max-width: 1040px) and (min-width: 740px) {
  .under-picture {
    display: none;
    }
}
@media only screen and (max-width: 740px) and (min-width: 470px) {

  .fourth-section .fourth-banner video {
    width: 100%;
    height: auto;
    margin: 0 0;
  }

  .fourth-banner {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    border-bottom: 1px solid Gainsboro;
    }

  .under-picture {
    display: none;
    }

  .text-next-picture-two .column-one img {
    width: 150px;
    height: 150px;
    margin-left: 24px;
  }

  .text-next-picture-two .column-two img {
    width: 150px;
    height: 150px;
    margin-left: 24px;
    margin-top: 24px;
  }

  .text-next-picture-two .columns {
    display: none;
  }
}

.fourth-banner {
  background-color: white;
  display: flex;
  justify-content: center;
  font-family: "Calibri", sans-serif;
  line-height: 1.2;
}

.headline {
  display: flex;
  justify-content: center;
  padding-bottom: 32px;
}

.fourth-banner video {
  width: 60%;
  height: 100%;
  margin: 0 0 0 24px;
  border: 2px solid Lightgrey;
}

@media only screen and (max-width: 470px){
  .text-next-picture-two .column-one {
    display: none;
  }

  .text-next-picture-two .column-two {
    display: none;
  }

  .fourth-banner video {
    height: 100%;
    width: 100%;
  }

  .under-picture nav {
    display: none;
  }

  .fourth-banner {
    margin: 0 0;
  }

  footer h3 {
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 16px;
    color: grey;
  }

  footer nav ul li {
    display: none;
  }

  .columns {
    width: 100%;
  }
}


.text-under-picture-two nav {
  padding: 0 0 0 24px;
  width: 60%;
}

.text-next-picture-two {
  display: inline-block;
  height: auto;
  width: 100%;
  padding-top: 4px;
  padding-left: 24px;
}

.text-next-picture-two img {
  height: 160px;
  width: 35%;
}

.headline h1 {
  font-family: "Calibri", sans-serif;
  font-size: 45px;
  color: #4a4a4c;
  font-weight: 800;
  padding-top: 32px;
}

.fourth-banner .textarea {
  padding: 16px 16px;

}

.fourth-banner .columns {

  border: 1px solid Gainsboro;
  width: 100%;
}

.fourth-banner .column-one {
  background-color: Lightgrey;
  padding: 16px 16px;
  border: none;
}

.fourth-banner .column-two {
  background-color: white;
  padding: 16px 16px;
  border: none;
}

.fourth-banner .textarea img {
  margin: 16px 16px;
}

.under-picture nav {
  padding: 0 0 32px 24px;
  border-bottom: 1px solid LightGrey;
  font-family: "Calibri", sans-serif;
  font-size: 1.5rem;
}

.columns h3 {
  font-family: "Calibri", sans-serif;
  font-size: 1.2rem;
  color: #4a4a4c;
  width: 100%;
  padding-top: 16px;
  font-weight: 500;
}

footer {
  height: 100px;
}

footer h3 {
  width: 85%;
  padding-left: 24px;
  color: grey;
}

footer .logo {
  display: flex;
  align-items: center;
  width: 100%;
}

footer nav ul {
  display: inline-flex;
}
